button {
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  background: #fff;
  color: #0d0d0d;
  font-family: 'JetBrainsMono', monospace;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem;
}

button:hover {
  background: #616161;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button.is-active.paragraph-style {
  background: #383838;
  color: #fff;
}

button.is-active {
  background: #0d0d0d;
  color: #fff;
}

.ProseMirror {
  margin-top: 1em;
  padding: 1rem;
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  background: #fff;
  color: #0d0d0d;
  font-family: 'JetBrainsMono', monospace;
  font-size: 0.8rem;
  min-height: 20rem;

}
.ProseMirror ul, .ProseMirror ol {
  padding: 0 1rem;
}
.ProseMirror h1, .ProseMirror h2, .ProseMirror h3, .ProseMirror h4, .ProseMirror h5, .ProseMirror h6 {
  line-height: 1.1;
}
.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 1);
  margin: 2rem 0;
}

.title > input {
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  background: #222529;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.2rem 0.5rem 1rem 0.5rem;
}

.config > button {
  font-family: 'JetBrainsMono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.2rem 1rem 1rem 0.5rem;
}

.config > button:hover {
  background: #222529;
  color: #fff;
}


.tags > div > div > input {
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  font-family: 'JetBrainsMono', monospace;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.tag-wrapper {
  border: 2px solid #0d0d0d;
  padding-left: 1rem;
  border-radius: 0.5rem;
  flex: 1;
  margin: 0.2rem;
}

.ReactTags__remove {
  border: none;
  border-radius: 0.5rem;
  font-family: 'JetBrainsMono', monospace;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 0.5rem;
}

.ReactTags__tag {
  display: inline-block;
}

button.publish {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem 1rem 1rem 0.5rem;
}

button.publish:hover {
  background: #383838;
  color: #fff;
}

.popup-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-box .popup-config {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
}

.popup-box .popup-config .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: 2px solid #000;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
} 

label {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0 1rem;
}